@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}