// === VARIABLES ===
$color-white: #ffffff;
$color-black: #000000;
$color-grey-a: #aaaaaa;
$color-gray-b: #bbbbbb;
$color-gray-d: #dddddd;
$color-grey-e: #eeeeee;
$color-darkgrey: #191919;
$color-royalblue: #4169e1;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
// === / VARIABLES ===