@import 'components/_reset';
@import 'components/_variables';
@import 'components/_header-section';
@import 'components/_my-work-section';
@import 'components/_projects-section';
@import 'components/_footer-section';

.body-fixed {
  position: fixed;
  overflow-y: hidden;
  transition: overflow-y 0.2s linear, position 0.2s linear 0.2s; 
}