* {
	padding: 0;
	margin: 0;
}

::selection {
	background-color: rgb(107, 82, 41);
	color: rgb(232, 230, 227);
}

html,
body {
	height: 100%;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('images/ocean.jpg');
}

.container>img {
	width: 150px;
	height: 150px;
	margin: 20px;
	border-radius: 50%;
	border: 1px solid #fff;
	box-shadow: rgb(196, 191, 183);
	object-fit: cover;
}

.p__name {
	font-family: 'TradeGothic LT';
	font-weight: 700;
	font-size: 2em;
	color: rgb(255, 255, 255);
}

.p__desc {
	font-family: 'Victor Mono';
	font-size: 1em;
	color: rgb(255, 255, 255);
	margin-bottom: 15px;
}

.links {
	text-align: center;
}

.links a {
	font-family: 'TradeGothic LT';
	color: rgb(196, 191, 183);
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.3s;
	font-weight: 700;
	font-size: 11px;
	margin: 5px;
}

.links a:hover {
	color: #C19C5E;
	transition: 0.3s;
}

@media screen and (max-width: 500px) {
	.links {
		width: 200px;
		text-align: center;
	}
}